body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.header .header-links {
    font-size: 18px;
}